/* BEGIN: _common.scss
// -----------------------------------------------------*/

* {
    box-sizing: border-box;
    transition: all .3s;
}

/* Highlight Text Color */

::selection {
    background: $orange;
    /* Safari */
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: $orange;
    /* Firefox */
    color: #fff;
    text-shadow: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
    color: $bodyColor;
    background: $greyLightest;
}

main {
    min-height: 100%;
    background: rgba(255, 255, 255, .4);
}

a {
    color: $blueBright;
    &:hover {
        color: $orange;
    }
}

button {
    background: $blueBright;
    color: $white;
    border: none;
    border-radius: 24px;
    padding: 8px 32px;
}

p {
    text-shadow: 0 1px 0 $white;
}

ul {
    li {
        line-height: 24px;
        text-shadow: 0 1px 0 $white;
    }
}

article {
    padding: 24px 4%; // 8pt grid system
    p {
        margin-top: 8px;
    }
    .list--no-bullet {
        list-style: none;
        padding-left: 0;
        li {
            padding-left: 8px; // 8pt grid system
        }
    }
}