/* BEGIN: _nav.scss
// -----------------------------------------------------*/
$navHeight: 48px;

.nav {
     &.nav--global {
          display: grid;
          grid-template-columns: 48px auto;
          background: $blueGrey;
          height: $navHeight; // 8pt grid
          .nav--profile {
               text-align: center;
               display: table-cell;
               vertical-align: middle;
               align-self: center;
               .nav--photo {
                    border-radius: $borderRadius;
                    border: 1px solid $white;
               }
               &:hover {
                    .nav--photo {
                         border-color: $greySoft;
                         box-shadow: 0 0 10px 0 $white;
                    }
               }
          }
          .nav--items {
               text-align: center;
               .nav--item {
                    display: inline-block;
                    color: $white;
                    text-decoration: none;
                    line-height: $navHeight;
                    min-width: 150px;
                    &:hover {
                         color: $orange;
                         background: lighten($blueGrey, 50%);
                    }
                    &:last-child {
                         margin-right: 0;
                    }
               }
          }
     }
}
.homepage {
     .nav .nav--profile {
           visibility: hidden;
     }
}