/* BEGIN: _nav.scss
// -----------------------------------------------------*/

.nav--global {
    //   background: $blueGrey;
    background: rgba(53, 64, 76, .9);
    height: $navHeight; // 8pt grid
    .nav--items {
        text-align: center;
        .nav--item {
            display: inline-block;
            color: $white;
            text-decoration: none;
            line-height: $navHeight;
            min-width: 150px;
            @include textShadow($black);
            &:hover {
                color: $orange;
                background: rgba(255, 255, 255, .2);
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &.navbar-fixed {
        box-shadow: 0 1px 3px $greyDarker;
        height: 45px;
        left: auto;
        position: fixed;
        top: 0;
        width: $screen-md;
        z-index: 9999;
        -webkit-backdrop-filter: blur(5px);
        /* backdrop-filter is not fully supported yet; so far only on safari */
        backdrop-filter: blur(5px);
    }
}
.nav--tier1 {
    display: grid;
    grid-template-columns: 50% auto;
    .nav--profile {
        display: flex;
        align-items: center;
        color: $white;
        text-shadow: 0 1px 0 $black;
        align-items: center;
        .nav--photo {
            border-radius: $borderRadius;
            border: 1px solid $white;
            margin: 0 16px;
        }
        [class*='fa-'] { // Font Awesome colors
            color: $white;
            margin-right: 8px;
        }
        &:hover {
            .nav--photo {
                border-color: $greySoft;
                box-shadow: 0 0 10px 0 $white;
            }
        }
    }
}

.homepage {
    .nav .nav--profile {
        visibility: hidden;
    }
}