/* BEGIN: _var.scss
// -----------------------------------------------------*/

/* Body */
$bodyFontFamily:              'Helvetica Neue', Arial, Helvetica, sans-serif;
$bodyFontSize:                16px;
$bodyColor:                   $greyDarkest;

/* Layout */
$borderColor:                 $greySoft;
$borderColorLight:            lighten($greySoft, 3%);
$borderColorDark:             darken($greySoft, 20%);
$shadow:                      $greySoft;

$borderRadius:                4px;

/* Responsive Widths */
$screen-xxl: 	               1920px;
$screen-xl: 	               1440px;
$screen-lg: 	               1280px;
$screen-md: 	               960px;
$screen-sm: 	               768px;
$screen-xsm: 	               480px;
$screen-xxsm: 	               320px;

