/* BEGIN: _color-palette.scss
// -----------------------------------------------------*/

// Black & White
$white:    		#fff;
$black: 		     #000;
$grey:              #666;

// Colors
$greyDarkest:       darken($grey, 30%);









$hex-static-900: 	#636363;
$hex-static-800: 	#f16a22;
$hex-static-700: 	#f89c22;
$hex-static-600: 	#9d2b2f;
$hex-static-500: 	#067fa2;
$hex-static-400: 	#00aeb8;
$hex-static-300: 	#049548;
$hex-static-200: 	#70be4a;
$hex-static-100: 	#502875;
$hex-static-50:    	#704b9d;
$hex-static-A700:  	#a81f64;
$hex-static-A400:  	#cf4999;
