/* BEGIN: _common.scss
// -----------------------------------------------------*/

body {
     font-family: $bodyFontFamily;
     font-size: $bodyFontSize;
     color: $bodyColor;
     background: $greyLightest;
     padding: 2.5% 5%;
}