/* BEGIN: _nav.scss
// -----------------------------------------------------*/
$navHeight: 48px;

.nav {
     &.nav--global {
          background: $blueGrey;
          height: $navHeight; // 8pt grid
          text-align: center;
          a {
               display: inline-block;
               color: $white;
               text-decoration: none;
               line-height: $navHeight;
               min-width: 200px;
               margin-right: 8px;
               &:hover {
                    color: $orange;
                    background: lighten($blueGrey, 50%);
               }
               &:last-child {
                    margin-right: 0;
               }
          }
     }
}

@media screen and (max-width: $screen-md) {
     .nav {
          &.nav--global {
               a {
                    min-width: 100px;
                    margin-right: 8px;
               }
          }
     }
}